<html lang="en">
	<head>
		{{> head}}
	</head>
	<body>
		{{> header}}
		<div class="container">
            <div id="nav-bar">
                <input type="hidden" id="index_field" value="0"/>
                <input type="hidden" id="test_id_field" value="{{test_id}}"/>
                <div id="navButtons_container"></div>
                <div>right: exit button</div>
            </div>
            <div id="info-bar">
                <p id="difficulty_field">Difficulty (with reason in subtext)</p>
                <p id="courseName_field">Course name</p>
                <p id="chapterName_field">Chapter name</p>
                <p id="topicName_field">Topic name</p>
            </div>
            <div>
                <p id="question_field"></p>
                <div id="choices_container">choices</div>
            </div>

            <div id="button-bar">
                <button id="left_button" type="button">left: Previous</button>
                <button id="submit_button" type="button">right: Submit</button>
            </div>
		</div>
        {{> footer}}
	</body>
	<script type="text/javascript">
        const $leftButton = $('#left_button');
        const $submitButton = $('#submit_button');
        const $index = $('#index_field');
        const $question = $('#question_field');
        const $course = $('#courseName_field');
        const $chapter = $('#chapterName_field');
        const $topic = $('#topicName_field');
        const $difficulty = $('#difficulty_field');
        const $navButtons = $('#navButtons_container');
        const $choices = $('#choices_container');
        $(document).on('click', 'button.nav_button',  (e) => {
            let index = parseInt(e.target.getAttribute('data-index'));
            $.get(`/api/test/{{test_id}}/${index-1}`, (data)=>{
                $index.val(data.index);
                afterGet(data);
            });
        });
        $leftButton.on('click', () => {
            let index = parseInt($index.val()) - 1;
            $.get(`/api/test/{{test_id}}/${index-1}`, (data)=>{
                $index.val(data.index);
                afterGet(data);
            });
        });
        $submitButton.on('click', () => {
            // post to /api/test/{{test_id}}/{{index}} with answer
            let index = parseInt($index.val());
            $.get(`/api/test/{{test_id}}/${index}`, (data)=>{
                $index.val(data.index);
                afterGet(data);
            });
        });
        function afterGet(data) {
            $index.val(data.index);
            data.index==1? $leftButton.prop('disabled', true): $leftButton.prop('disabled', false);
            data.index==data.total? $submitButton.prop('disabled', true): $submitButton.prop('disabled', false);
            $question.text(data.current.que_text);
            $course.text(data.current.course_name);
            $chapter.text(data.current.chapter_name);
            $topic.text(data.current.topic_name);
            switch(data.current.difficulty){
                case 1:
                    $difficulty.text('Easy');
                    break;
                case 2:
                    $difficulty.text('Medium');
                    break;
                case 3:
                    $difficulty.text('Hard');
                    break;
                default:
                    $difficulty.text('Unknown');
                    break;
            }
            $choices.empty();
            const choices = JSON.parse(data.current.choices);
            for (let i=0; i<choices.length; i++){
                if(data.current.radio){
                    $choices.append(`<p><input type="radio" name="choice" value="${choices[i].id}">${choices[i].text}</input></p>`);
                } else {
                    $choices.append(`<p><input type="checkbox" name="choice" value="${choices[i].id}">${choices[i].text}</input></p>`);
                }
            }
        }
		$(function(){
            let index = parseInt($index.val());
			$.get(`/api/test/{{test_id}}/${index}`, (data)=>{
                afterGet(data);
                for(let i=0; i<data.total; i++){
                    $navButtons.append(`<button type="button" class="nav_button" id="navButton_${i}" data-index="${i+1}">${i+1}</button>`);
                }
            });
		});
	</script>
</html>