<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <div class="container">
        {{#if test}}
            <h1>{{test.test_name}}</h1>
            <p>{{test.test_description}}</p>
            <p>Course: {{test.course_name}}</p>
            <p>Chapter: {{test.chapter_name}}</p>
            <p>
                <label for="test_mode">Number of questions:</label>
                <select id="test_mode">
                    <option value="refresher" selected>Refresher (5 to 10 questions)</option>
                    <option value="practice">Practice (10 to 25 questions)</option>
                    <option value="exam">Exam (25 to 50 questions)</option>
                </select>
            </p>
            <button class="btn btn-primary" id="start-test">Start Test</button>
        {{else}}
            <h1>No test found</h1>
        {{/if}}
    </div>
    {{> footer}}
</body>
<script>
    $(function() {
        $('#start-test').click(function() {
            var test_mode = $('#test_mode').val();
            var test_id = '{{test.id_hash}}';
            window.location.href = `/test/${test_mode}/${test_id}`
        });
    });
</script>
</html>