<html lang="en">

	<head>
		{{> head}}
	</head>

	<body>
		<nav></nav>
		<main class="container-default mt-16 p-2">
			<section class="hero">
				<!-- two 50% columns -->
				<div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
					<!-- left: hero post -->
					<div class="col-span-1 lg:col-span-7 row-span-3">
						<figure>
							<img src="{{model.hero_post.featured_image}}" alt="{{model.hero_post.title}}"
								class="w-full rounded shadow">
							<figcaption>
								<h4 class="gradient-text text-base uppercase">{{model.hero_post.tag.name}}</h4>
								<h2 class="text-3xl">{{model.hero_post.title}}</h2>
								<sub class="text-sm">{{model.hero_post.subtitle}}</sub>
								<div class="text-lg flex flex-row mt-4 items-center">
									<img src="{{model.hero_post.author.image_url}}"
										alt="{{model.hero_post.author.name}}"
										class="w-12 h-12 rounded-full border-gray-400 bg-gray-200 flex-initial object-cover">
									<p class="ml-4 text-base font-bold flex-initial">
										{{model.hero_post.author.name}}
									</p>
									<p class="ml-4 text-sm flex-initial">{{model.hero_post.date_published}}</p>
								</div>
							</figcaption>
						</figure>
					</div>
					<!-- right: stack of three posts from different tags separated by a line -->
					<div class="col-span-1 lg:col-span-5 grid lg:grid-cols-3 gap-4">
						{{#each model.hero_posts as |post|}}
							<figure class="col-span-2 lg:col-span-1">
								<img src=" {{post.thumbnail_image}}" alt="{{post.title}}"
									class="w-full lg:h-48 rounded shadow object-none">
							</figure>
							<div class="col-span-2">
								<h4 class="gradient-text text-base uppercase">{{post.tag.name}}</h4>
								<h3 class="text-base leading-[0.9rem] xl:leading-[1rem] xl:text-lg">{{post.title}}</h3>
								<sub class="text-sm">{{post.subtitle}}</sub>
								<p class="text-base font-bold flex-initial">
									{{post.author.name}}
								</p>
								<p class="text-sm flex-initial">{{post.date_published}}</p>
							</div>
						{{/each}}
					</div>
			</section>
			<section class="featured-posts">
				<!-- two 50% columns -->
				<!-- left: featured post from tag one -->
				<!-- post image, tag name, h2 title, subtitle, author, date -->
				<!-- right: featured post from tag two -->
				<!-- post image, tag name, title, subtitle, author, date -->
			</section>
			<section class="latest-posts">
				<!-- section header: Latest posts (bold separater on top and a think muted separater below) -->
				<!-- 4 columns of latest posts ordered by date-->
				<!-- no blog post image, tag name, h3 title, subtitle, author name, date -->
			</section>
			<!-- list of sections -->
			<section class="tags-posts">
				<!-- separate sections for tags -->
				<!-- section header: tag name (bold separater on top and a think muted separater below) -->
				<!-- two 50% column layouts with alternating left and right contents -->
				<!-- left: post image, h2 title, subtitle, author headshot and name, date -->
				<!-- right: stack of three posts; post title, subtitle, author name -->
				<!-- alternate the contents for each tag -->
			</section>
			<section class="trending-stories">
				<!-- section with inverted background color -->
				<!-- top 5 trending stories in columns-->
				<!-- section header -->
				<!-- each colum has a bold textured number on top followed by h3 title, subtitle, and author name -->
			</section>
		</main>
		{{> newsletter}}
		{{> footer}}
	</body>

</html>