<section class="latest-posts mt-16">
    <div class="dark:border-t-gray-300 border-t-gray-700 border-t-4 border-b dark:border-b-gray-300 border-b-gray-500">
        <h2 class="text-xl py-2">Latest posts</h2>
    </div>

    <!-- section header: Latest posts (bold separater on top and a think muted separater below) -->
    <!-- 4 columns of latest posts ordered by date-->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
        {{#each model.latest_posts as |post|}}
            <div class="col-span-1 flex flex-col">
                <h4 class="gradient-text text-base uppercase pt-4">{{post.tag.name}}</h4>
                <h3 class="text-base leading-[0.9rem] xl:leading-[1rem] xl:text-lg mt-2 clickable">
                    {{post.title}}
                </h3>
                <p class="text-sm dark:text-stone-400 pt-2">{{post.subtitle}}</p>
                <p class="text-base font-bold flex-initial mt-2">
                    {{post.author.name}}
                </p>
                <p class="text-sm flex-initial text-gray-500">{{post.date_published}}</p>
            </div>
        {{/each}}
    </div>
    <!-- no blog post image, tag name, h3 title, subtitle, author name, date -->
</section>