<!DOCTYPE html>
<html lang="en">

	<head>
		{{> head}}
	</head>

	<body class="dark:bg-gray-800 dark:text-white">
		<div class="container max-w-4xl xl:max-w-6xl mx-auto px-2 pt-2">
			<nav></nav>
			<header class="flex flex-col gap-8 lg:gap-12">
				<div class="flex flex-col gap-4 max-w-[720px] xl:max-w-[860px]">
					<ul class="list-none gap-4 align-middle inline-flex font-bold">
						{{#each model.tags as |tag|}}
							<li
								class="bg-gradient-to-r  from-pink-400 to-purple-500 inline-block text-transparent bg-clip-text">
								<a href="{{tag.url}}">{{tag.name}}</a>
							</li>
						{{/each}}
					</ul>
					<h1 class="text-3xl md:text-4xl lg:text-5xl">{{model.title}}</h1>
					<sub class="text-sm">{{model.subtitle}}</sub>
				</div>
				<div class="hero-image">
					<img src="/{{model.hero_image}}" alt="{{model.title}}" class="rounded-md shadow">
				</div>
				<figure class="flex flex-row gap-2">
					<div class="w-16 h-16 rounded-full border-gray-400 bg-gray-200">
						<img src="{{model.author.image_url}}" alt="{{model.author.name}}"
							class="rounded-full shadow max-w-16" />
					</div>
					<figcaption class="font-medium pt-2">
						<div class="text-sky-500 dark:text-sky-400 m-0 p-0">
							<a href="{{model.author.profile_url}}">{{model.author.name}}</a>
						</div>
						<div class="text-slate-700 dark:text-slate-500 m-0 p-0">
							{{model.published}}
						</div>
					</figcaption>
				</figure>
			</header>
			<main class="flex flex-col mt-16 gap-16">
				<section class="three-panel-body flex flex-col lg:flex-row gap-1">
					<section class="content-panel flex-auto">
						<article class="prose md:prose xl:prose-lg dark:prose-invert min-w-full px-2">
							{{{model.body}}}
						</article>
						<div class="keywords-links"></div>
					</section>
					<aside class="right-panel min-w-64 px-2">
						<div class="newsletter"></div>
						<div class="keyword-related-posts">
							AAA
						</div>
					</aside>
				</section>
				<section class="tag-related-posts flex flex-col gap-4">
					{{#each model.tag_thumbnails as |tag|}}
						<div class="flex flex-col sm:flex-row gap-4">
							{{#each tag.posts as |post|}}
								<div class="flex-1 flex flex-col">
									<figure class="min-w-full hover:cursor-pointer">
										<img src="{{post.image_url}}"
											class="object-cover h-full w-full rounded shadow" />
									</figure>
									<p
										class="bg-gradient-to-r  from-pink-400 to-purple-500 inline-block text-transparent bg-clip-text font-bold">
										{{tag.name}}
									</p>
									<h3 class="text-lg">{{post.title}}</h3>
									<sub class="text-sm">{{post.subtitle}}</sub>
									<p class="mt-4 font-semibold">{{post.author}}</p>
								</div>
							{{/each}}
						</div>
					{{/each}}
				</section>
			</main>
			<footer></footer>
		</div>
	</body>

</html>